@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none; /* gets rid of "bounce" at bottom of page */
}

/* NavBar */
.vp-local-header {
  background-color: #42938d !important;
  height: 100px !important;
  width: 100vw !important;
  align-items: center !important;
}

.vp-local-header > * > * {
  background-color: #42938d;
  color: white;
}

.vp-local-outline {
  display: none !important;
}

:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-item-selected::after,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-item-selected::after,
:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-selected::after,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-selected::after {
  border: none;
}

:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-item-open::after,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-item-open::after,
:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-open::after,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-open::after {
  border: none;
}

:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-item-active::after,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-item-active::after,
:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-active::after,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-active::after {
  border: none;
}

:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-item:hover::after,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-item:hover::after,
:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu:hover::after,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu:hover::after,
:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-item-active::after,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-item-active::after,
:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-active::after,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-active::after,
:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-item-open::after,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-item-open::after,
:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-open::after,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-open::after {
  border: none;
}

:where(
    .css-dev-only-do-not-override-8v0fwp
  ).vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-item-only-child:hover::after {
  border: none;
}

.antd-menu-horizontal > .antd-menu-item::after,
.antd-menu-horizontal > .antd-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
}

:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  .vp-antd-menu-submenu-selected
  > .vp-antd-menu-submenu-title,
:where(.css-dev-only-do-not-override-8v0fwp).vp-antd-menu-light
  > .vp-antd-menu
  .vp-antd-menu-submenu-selected
  > .vp-antd-menu-submenu-title {
  color: #404080;
}

.search-button {
  background: #404080;
  padding: 16px;
  border-radius: 24px;
  color: white;
  align-items: center;
}

/* Body */
.vp-local-layout .vp-local-body {
  padding-top: 100px;
  border: none;
}
