@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: none; /* gets rid of "bounce" at bottom of page */
}

/* NavBar */
.vp-local-header {
  background-color: #42938d !important;
  height: 100px !important;
  width: 100vw !important;
  align-items: center !important;
}

.vp-local-header > * > * {
  background-color: #42938d;
  color: white;
}

.vp-local-outline {
  display: none !important;
}

ul {
  list-style-type: disc;
}

.vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-item-selected::after,
.vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-item-selected::after,
.vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-selected::after,
.vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-selected::after {
  border: none;
}

.vp-antd-menu-light.vp-antd-menu-horizontal > .vp-antd-menu-item-open::after,
.vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-item-open::after,
.vp-antd-menu-light.vp-antd-menu-horizontal > .vp-antd-menu-submenu-open::after,
.vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-open::after {
  border: none;
}

.vp-antd-menu-light.vp-antd-menu-horizontal > .vp-antd-menu-item-active::after,
.vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-item-active::after,
.vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-active::after,
.vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-active::after {
  border: none;
}

.vp-antd-menu-light.vp-antd-menu-horizontal > .vp-antd-menu-item:hover::after,
.vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-item:hover::after,
.vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu:hover::after,
.vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu:hover::after,
.vp-antd-menu-light.vp-antd-menu-horizontal > .vp-antd-menu-item-active::after,
.vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-item-active::after,
.vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-active::after,
.vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-active::after,
.vp-antd-menu-light.vp-antd-menu-horizontal > .vp-antd-menu-item-open::after,
.vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-item-open::after,
.vp-antd-menu-light.vp-antd-menu-horizontal > .vp-antd-menu-submenu-open::after,
.vp-antd-menu-light
  > .vp-antd-menu.vp-antd-menu-horizontal
  > .vp-antd-menu-submenu-open::after {
  border: none;
}

.vp-antd-menu-light.vp-antd-menu-horizontal
  > .vp-antd-menu-item-only-child:hover::after {
  border: none;
}

.antd-menu-horizontal > .antd-menu-item::after,
.antd-menu-horizontal > .antd-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
}

.vp-antd-menu-light
  .vp-antd-menu-submenu-selected
  > .vp-antd-menu-submenu-title,
.vp-antd-menu-light
  > .vp-antd-menu
  .vp-antd-menu-submenu-selected
  > .vp-antd-menu-submenu-title {
  color: #404080;
}

.search-button {
  background: #404080;
  padding: 16px;
  border-radius: 24px;
  color: white;
  align-items: center;
}

.vp-antd-dropdown.vp-antd-dropdown-placement-bottomRight {
  max-width: 300px;
}

/* Adjust nav menu positioning and styling on mobile devices */
@media (max-width: 768px) {
  .vp-antd-dropdown-menu-submenu.vp-antd-dropdown-menu-submenu-popup.vp-antd-dropdown-menu.vp-antd-dropdown-menu-light.vp-antd-dropdown-menu-submenu-placement-rightTop {
    max-width: 300px;
    top: 200px !important;
    left: unset !important;
    right: 20px !important;
  }
  .vp-antd-dropdown-menu-submenu.vp-antd-dropdown-menu-submenu-popup.vp-antd-dropdown-menu.vp-antd-dropdown-menu-light.vp-antd-dropdown-menu-submenu-placement-leftTop {
    max-width: 300px;
    top: 200px !important;
    left: unset !important;
    right: 20px !important;
  }
}

/* Body */
.vp-local-layout .vp-local-body {
  padding-top: 100px;
  border: none;
}
